@import url(../../../index.css);

.hero-container {
  text-align: left;
  padding-top: 10rem;
  padding-bottom: 10rem;
  border: 1px solid cyan;
  display: flex;
  justify-content: space-between;
  height: 100vh;
}
.hero-article {
  margin-left: 5rem;
  margin-top: 12rem;
  display: grid;
  grid-column: auto;
  grid-template-rows: 12rem;
}
.helpbot {
  color: var(--color-red);
}
.right {
  padding-top: 5rem;
}
