@import url('./index.css');
.bots-container {
  display: flex;
}
.profile h3 {
  font-size: 35px;
  font-weight: 500;
  padding: 0.5rem 0;
  margin-bottom: 0;
  color: var(--color-light-grey);
  background-color: var(--color-primary);
}
.react-chatbot-kit-chat-container {
  width: 300px;
  height: 500px;
}
.react-chatbot-kit-inner-container {
  width: 100%;
  font-family: var(--font-family-title);
}
.react-chatbot-kit-chat-message-container {
  height: 430px;
}
.react-chatbot-kit-chat-bot-message {
  background-color: #2d4059;
  font-size: 1rem;
  margin: 0;
}
.react-chatbot-kit-chat-bot-message-arrow {
  border-right: 8px solid #2d4059;
}
.react-chatbot-kit-user-avatar-container {
  background-color: #c8a0a0;
}
.react-chatbot-kit-chat-btn-send {
  background-color: #2d4059;
}
.react-chatbot-kit-chat-btn-send:hover {
  background-color: #ea5455;
}
