@import url('../../../../index.css');
@import url('../../../../assets/styles/style.css');

/********************************
Settings-theme styles
*********************************/
.meg {
  margin-top: 2rem;
}

.fill-color {
  fill: var(--color-primary);
}
/*******************************
General Setting 
*******************************/
.or {
  margin-left: 1rem;
  margin-right: 1rem;
}
/*******************************
SideBar
*******************************/
.mr-3 a:hover {
  background-color: var(--color-red);
}
