@import url(../../../../index.css);
@import url(../../../../assets/styles/style.css);
/* @import url(./NewBot/NewBot.css); */

/********************************
Settings-theme styles
*********************************/
.meg {
  margin-top: 2rem;
}

.fill-color {
  fill: var(--color-primary);
}
/*******************************
General Setting 
*******************************/
.or {
  margin-left: 1rem;
  margin-right: 1rem;
}
body {
  font-size: 2rem;
}
/*******************************
SideBar
*******************************/
.mr-3 a:hover {
  background-color: var(--color-light-grey);
}
/********************************
Setting Data
*********************************/
.pending {
  background-color: #ffe9a8;
  color: #f59e0b;
}

.in-progress {
  background-color: #e0f2fe;
  color: #10b981;
}

.default {
  background-color: #ecfdf5;
  color: var(--color-primary);
}
.collapsed {
  display: none;
}
