<<<<<<< HEAD
@import url(../../../index.css);

=======
>>>>>>> 94e56a626a050d6b90cf00c79ebc6454f7138216
.popImg {
  height: 45px;
  border-radius: 50%;
  cursor: pointer !important;
  margin: 0.2rem 0 0 0.7rem;
}
.popUserImg {
  height: 60px;
  border-radius: 50%;
  margin-bottom: 8px;
}
.userName,
.userEmail {
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 700;
}
.userEmail {
  margin: 0.1rem 0 0.5rem;
  font-weight: 600;
  font-size: 0.9rem;
<<<<<<< HEAD
  color: var(--color-dark-grey);
}
.centerr {
  padding-left: 1rem;
  margin: auto;
  cursor: pointer;
=======
  color: rgba(0, 0, 0, 0.7);
>>>>>>> 94e56a626a050d6b90cf00c79ebc6454f7138216
}
