@import url(../../index.css);

/* .chat-widget.open {
  transform: translateX(0);
}
.chat-content {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
} */

#chat-icon svg:hover {
  /* background-color: aquamarine; */
  box-shadow: 1px 1px 10px #ea5455;
}
#chat-icon:hover {
  box-shadow: 1px 2px 15px #2d4059;
}
::-webkit-scrollbar-thumb {
  background: var(--color-orange);
}
