.canvas {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  max-height: 100%;
  height: 100%;
}

.side-menu-nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
}

.side-menu {
  display: flex;
  align-items: center;
  padding: 10px 0;
  margin-bottom: 10px;
  font-size: 14px;
  color: #2D4059;
  list-style: none;
}


.side-menu-bottom {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px 0;
  font-size: 12px;
}

.icon {
  margin-right: 10px;
  padding: 5px;
  font-size: 25px;
  color: white;
  background-color: rgb(234, 84, 85);
  border: none;
  border-radius: 10px;
  box-shadow: rgba(89,
      86,
      86,
      0.35) 0px 5px 10px;
}

.side-menu-bottom-icon {
  margin-right: 10px;
  padding: 5px;
  font-size: 15px;
  color: white;
  background-color: rgb(234, 84, 85);
  border: none;
  border-radius: 10px;
  box-shadow: rgba(89, 86, 86, 0.35) 0px 5px 10px;
}